<!DOCTYPE html>
<html lang="en">	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h1 class="header-left">Крутой заголовок</h1>
			<div class="header-right">
				<a href="register.html">Регистрация</a>
				<a href="login.html">Вход</a>
			</div>
		</header>
		<main>
			<div id="mySidebar" class="sidebar">
				<a href="index.html">Главная</a>
				<a href="users.html">Темы</a>
				<a href="users.html">Участники</a>
				</br>
				<a href="about.html">О нас</a>
				
				<p class="citate">Цитата дня</p>
			</div>
			<div  id="myContent" class="content">
				о нас
			</div>
		</main>
	</body>	
</html>