{% extends "base.html" %}

{% block content %}
	<div style="margin-left: 1em;">
		<blockquote>
			Всему свое время, и время всякой вещи под небом: </br>
			время рождаться и время умирать...</br>
			время разрушать, и время строить…...</br>
			время разбрасывать камни, и время собирать камни;</br>
			время обнимать, и время уклоняться от объятий... </br>
			время любить, и время ненавидеть; </br>
			время войне, и время миру. </br>
		</blockquote>
		<p>
			Так и есть, и я надеюсь, что этому проекту тоже есть время, время использования настоящими людьми!</br>
			Это форум, со свободной темой, и вы можете создать свою!
		</p>
		</br>
		<a class="button-link" href="/sections" style="width: 1000px; padding-left: 100px padding-right: 100px;">Создать тему</a>
	</div>
{% endblock %}


